@import "../../global-styles/variables.scss";

.custom-button {
	padding: 1rem 2rem;
	font-size: 2rem;
	font-family: inherit;
	color: $primary-text-color;
	letter-spacing: 1.3px;
	border: 3px solid $primary-text-color;
	background: $primary-background-color;
	margin-top: 3rem;
	transition: all ease-in 0.2s;
	box-shadow: 2px 5px 10px 3px #000000;

	&:hover {
		color: rgb(32, 32, 32);
		background: $primary-text-color;
		border: 3px solid rgb(12, 12, 12);
		box-shadow: 2px 7px 12px 5px #000000;
	}
	&:active,
	&:focus {
		color: rgb(32, 32, 32);
		background: $primary-text-color;
		border: 3px solid rgb(12, 12, 12);
		box-shadow: 2px 7px 12px 5px #000000;
		outline: none;
		box-shadow: 2px 5px 10px 3px #000000;
	}

	.eye-icon {
		fill: $primary-text-color;
		height: 2rem;
		width: auto;
	}
}
.center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
