@import "../../global-styles/variables.scss";

.about-me {
	height: fit-content;
	padding: 5rem calc((100vw - 1200px) / 2) 25rem;
	background-color: $secondary-background-color;
	position: relative;

	@media screen and (max-width: 1220px) {
		padding-right: 10rem;
		padding-left: 10rem;
		padding-bottom: 35rem;
	}
	@media screen and (max-width: 768px) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-bottom: 25rem;
	}

	.section-title {
		font-size: 5rem;
		color: $primary-text-color;
		text-shadow: $primary-text-shadow;
		margin-bottom: 7rem;
		span {
			color: $secondary-text-color;
		}
	}

	.grids {
		display: flex;
		@media screen and (max-width: 768px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.grid-content-container {
			width: 50%;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr 1fr 1fr;
			gap: 5rem 3rem;
			grid-template-areas:
				"grid-area-2"
				"grid-area-3"
				"grid-area-4"
				"grid-area-5";

			@media screen and (max-width: 768px) {
				width: 100%;
				margin-bottom: 7rem;
			}

			.content-area {
				width: 80%;
				height: 100%;
				@media screen and (max-width: 768px) {
					width: 100%;
				}
				h3 {
					font-size: 3.5rem;
					color: $secondary-text-color;
					text-shadow: $primary-text-shadow;
					margin-bottom: 1rem;
				}
				p {
					font-size: 2.2rem;
					color: $primary-text-color;
					text-shadow: $primary-text-shadow;
				}
			}
			.grid-area-1 {
				grid-area: grid-area-1;
			}
			.grid-area-2 {
				grid-area: grid-area-2;
			}
			.grid-area-3 {
				grid-area: grid-area-3;
			}
			.grid-area-4 {
				grid-area: grid-area-4;
			}
			.grid-area-5 {
				grid-area: grid-area-5;
			}
		}
		.grid-icons-container {
			width: 50%;
			display: grid;
			justify-items: center;
			align-items: center;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr 1fr;
			gap: 3rem 3rem;
			grid-template-areas:
				"text-and-arrow text-and-arrow text-and-arrow"
				"grid-icon-1 grid-icon-2 grid-icon-3"
				"grid-icon-4 grid-icon-5 grid-icon-6"
				"grid-icon-7 grid-icon-8 grid-icon-9";

			@media screen and (max-width: 768px) {
				width: 60%;
			}
			.react-icon {
				grid-area: grid-icon-1;
			}
			.npm-icon {
				grid-area: grid-icon-2;
			}
			.github-icon {
				grid-area: grid-icon-3;
			}
			.javascript-icon {
				grid-area: grid-icon-4;
			}
			.git-icon {
				grid-area: grid-icon-5;
			}
			.sass-icon {
				grid-area: grid-icon-6;
			}
			.css3-icon {
				grid-area: grid-icon-7;
			}
			.html5-icon {
				grid-area: grid-icon-8;
			}
			.react-icon {
				grid-area: grid-icon-9;
			}
		}
	}
}
