@import "../../global-styles/variables.scss";
.linkedin-link-wrapper {
	text-decoration: none;
	color: $primary-text-color;

	.linkedin-link-container {
		width: 13rem;
		height: 6rem;
		padding: 0 1rem;
		background-color: #2867b2;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
		display: flex;
		justify-content: space-between;
		align-items: center;

		transition: transform 0.3s ease-in;

		.linkedin-link-content {
			font-size: 2rem;
			text-decoration: none;
		}

		.linkedin-logo {
			height: 3.5rem;
			width: 3.5rem;
		}
	}
	.hover-right {
		&:hover {
			transform: translateX(9rem);
		}
	}
}
