@import "../../global-styles/variables.scss";

.burger {
	width: 15px;
	height: 15px;
	padding: 10px;
	border: 3px solid $secondary-text-color;
	border-radius: 100%;
	display: none;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	z-index: 5;
	cursor: pointer;

	@media screen and (max-width: 768px) {
		display: flex;
	}

	.open:first-child {
		transform: rotate(45deg) translate(3px, 4px);
	}
	.open:nth-child(2) {
		transform: translateX(20px);
		opacity: 0;
	}
	.open:nth-child(3) {
		transform: rotate(-45deg) translate(1px, -4px);
	}
	.close:first-child {
		transform: rotate(0) translateY(0);
	}
	.close:nth-child(2) {
		transform: translateX(0);
		opacity: 1;
	}
	.close:nth-child(3) {
		transform: rotate(0) translateY(0);
	}

	@media screen and (max-width: 768px) {
		display: flex;
	}
	.burger-span {
		width: 100%;
		height: 0.4rem;
		background-color: $primary-text-color;
		transition: all 0.3s ease-in;
	}
}
