//GLOBAL SCSS VARIABLES
$primary-text-color: #ffffff;
$secondary-text-color: #fec576;

$dark-gray-color: #5a5b63;
$light-gray-color: #7e7e7e;

$primary-text-shadow: 3px 3px 6px rgba(0, 0, 0, 1);

$primary-background-color: #2a2e47;
$secondary-background-color: #282d4e;
$primary-radial-gradient: radial-gradient(circle, rgba(42, 46, 71, 1) 0%, rgba(31, 34, 53, 1) 100%);
