.wave-svg-hero-section-primary {
	height: 85vh;
	width: 120vw;
	position: absolute;
	top: 0rem;
	right: -15rem;
	opacity: 0.8;
	z-index: -1;
	@media screen and (max-width: 768px) {
		display: none;
	}
}
.wave-svg-hero-section-secondary {
	width: 50vw;
	position: absolute;
	top: -28rem;
	left: -5rem;
	opacity: 0.8;
	@media screen and (max-width: 1000px) {
		top: -40rem;
	}
	@media screen and (max-width: 768px) {
		top: -53rem;
	}
	@media screen and (max-width: 600px) {
		top: -62rem;
	}
	@media screen and (max-width: 400px) {
		top: -78rem;
	}
}

.wave-svg-hero-section-mobile {
	display: none;

	@media screen and (max-width: 768px) {
		display: block;
		position: absolute;
		opacity: 0.8;
		top: 20rem;
		left: -2rem;
		width: 110vw;
		height: 50vh;
		z-index: 2;
	}
	@media screen and (max-width: 800px) {
		@media screen and (min-height: 1000px) {
			top: 5rem;
		}
	}
	@media screen and (max-width: 450px) {
		@media screen and (min-height: 700px) {
			top: 20rem;
		}
	}
}
