@import "../../global-styles/variables.scss";

.projects-section {
  height: fit-content;
  padding: 5rem calc((100vw - 1200px) / 2) 35rem;
  background-color: $primary-background-color;
  position: relative;

  @media screen and (max-width: 1220px) {
    padding: 0 10rem 30rem 10rem;
  }
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h2 {
    font-size: 5rem;
    color: $primary-text-color;
    text-shadow: $primary-text-shadow;
    margin-bottom: 1rem;

    span {
      color: $secondary-text-color;
    }
  }

  p {
    font-size: 2rem;
    color: $light-gray-color;
    text-shadow: $primary-text-shadow;
  }

  .grid-container {
    display: grid;
    margin-top: 5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30rem 30rem 30rem;
    gap: 3rem 3rem;
    grid-template-areas:
      "lekawa photosnap"
      "todo-app github-api"
      "ztmProject .";

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 30rem);
      width: 90%;
      grid-template-areas:
        "lekawa"
        "photosnap"
        "todo-app"
        "github-api"
        "ztmProject";
    }

    .e-commerce-ztm {
      height: 100%;
      width: 100%;
      grid-area: ztmProject;
      background-image: url("../../assets/clommerceAppPhoto.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 2px solid black;
      box-shadow: 2px 2px 5px black;
      .preview-title {
        font-size: 3rem;
        padding: 0.5rem 1rem;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
      }
    }
    .photosnap {
      height: 100%;
      width: 100%;
      grid-area: photosnap;
      background-image: url("../../assets/PhotosnapImage.png");
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 2px solid black;
      box-shadow: 2px 2px 5px black;
      .preview-title {
        font-size: 3rem;
        padding: 0.5rem 1rem;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
      }
    }

    .todo-app {
      height: 100%;
      width: 100%;
      grid-area: todo-app;
      background-image: url("../../assets/TodoAppScreenshot.png");
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 2px solid black;
      box-shadow: 2px 2px 5px black;
      .preview-title {
        font-size: 3rem;
        padding: 0.5rem 1rem;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
      }
    }
    .lekawa {
      height: 100%;
      width: 100%;
      grid-area: lekawa;
      background-image: url("../../assets/LekawaHomepage.png");
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 2px solid black;
      box-shadow: 2px 2px 5px black;
      .preview-title {
        font-size: 3rem;
        padding: 0.5rem 1rem;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
      }
    }
    .github-jobs-api {
      height: 100%;
      width: 100%;
      grid-area: github-api;
      background-image: url("../../assets/GitHubJobsScreenshot.png");
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 2px solid black;
      box-shadow: 2px 2px 5px black;
      .preview-title {
        font-size: 3rem;
        padding: 0.5rem 1rem;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
      }
    }
  }
}
