@import "../../global-styles/variables.scss";
.resume-link-wrapper {
	text-decoration: none;
	color: $primary-text-color;

	.resume-link-container {
		width: 16rem;
		height: 7rem;
		padding: 0 2rem;
		background-color: #707877;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
		display: flex;
		justify-content: space-between;
		align-items: center;
		transform: translateX(-2rem);
		transition: transform 0.3s ease-in;

		.resume-link-content {
			font-size: 2.5rem;
			text-decoration: none;
		}

		.resume-logo {
			height: 4.5rem;
			width: 4.5rem;
		}
	}
	.hover-right {
		&:hover {
			transform: translateX(9rem);
		}
	}
}
