@import "../../global-styles/variables.scss";

.nav {
	height: 10rem;
	display: flex;
	background: transparent;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 10;

	.logo {
		font-size: 3.7rem;
		color: $primary-text-color;
		text-shadow: $primary-text-shadow;

		span {
			color: $secondary-text-color;
		}
	}

	.menu {
		ul {
			display: flex;

			.header-link {
				font-size: 2.3rem;
				color: $primary-text-color;
				text-shadow: $primary-text-shadow;
				text-decoration: none;
			}

			.header-link:not(:last-child) {
				margin-right: 2rem;
			}
		}
	}
}
.nav-background-secondary {
	background: $primary-background-color;
	padding: 0 calc((100vw - 1200px) / 2);
}
