@import "../../global-styles/variables.scss";

.nav {
	height: 10rem;
	display: flex;
	background: transparent;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 10;

	.logo {
		font-size: 3.7rem;
		color: $primary-text-color;
		text-shadow: $primary-text-shadow;

		span {
			color: $secondary-text-color;
		}
	}

	.menu {
		ul {
			display: flex;

			li {
				font-size: 2.3rem;
				color: $primary-text-color;
				text-shadow: $primary-text-shadow;
			}

			li:not(:last-child) {
				margin-right: 2rem;
			}
		}
	}
}
