@import "../../global-styles/variables.scss";

.nav {
	height: 10rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: transparent;
	z-index: 20;
	padding: 0 calc((100vw - 1200px) / 2);
	@media screen and (max-width: 1220px) {
		padding: 0 10rem;
	}

	.logo {
		font-size: 3.7rem;
		color: $primary-text-color;
		text-shadow: $primary-text-shadow;

		span {
			color: $secondary-text-color;
		}
	}

	.menu {
		ul {
			display: flex;
			@media screen and (max-width: 768px) {
				display: none;
			}

			.header-link {
				font-size: 2.3rem;
				color: $primary-text-color;
				text-shadow: $primary-text-shadow;
				text-decoration: none;
				&:hover {
					color: $secondary-text-color;
				}

				@media screen and (max-width: 768px) {
					font-size: 4rem;
				}

				&:not(:last-child) {
					margin-right: 2rem;

					@media screen and (max-width: 768px) {
						margin-right: 0;
						margin-bottom: 3rem;
					}
				}
			}

			&.hidden {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				position: absolute;
				right: 0;
				top: 0;
				height: 50rem;
				width: 40rem;
				background-color: gray;
				z-index: 10;
			}
		}
	}
}
.nav-background-secondary {
	background: $secondary-background-color;
}

.nav-background-primary {
	background: $primary-background-color;
}
