@import "../../../global-styles/variables.scss";

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 100;
}

.project-ztm {
	height: 70vh;
	width: 80vw;

	display: flex;
	z-index: 100;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	.screenshot {
		background-image: url(../../../assets/clommerceAppPhoto.png);
		background-color: $dark-gray-color;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 100%;
		width: 70%;
	}
	.details {
		background-color: $dark-gray-color;
		width: 30%;
		position: relative;
		padding: 1rem;
		display: flex;
		flex-direction: column;

		.x-button {
			height: 3rem;
			width: 3rem;
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;

			img {
				height: 100%;
				width: 100%;
			}
		}

		.project-title {
			font-size: 4rem;
		}

		.tech-stack {
			display: flex;
			flex-wrap: wrap;
		}

		.project-description {
			color: $primary-text-color;
			font-size: 2.2rem;
			letter-spacing: 1px;
			line-height: 1.2;
			height: 50%;
			overflow-y: scroll;

			&::-webkit-scrollbar {
				width: 12px; /* width of the entire scrollbar */
			}

			&::-webkit-scrollbar-track {
				background: $dark-gray-color; /* color of the tracking area */
			}

			&::-webkit-scrollbar-thumb {
				background-color: $light-gray-color; /* color of the scroll thumb */
				border-radius: 5px;
			}
		}
		.project-details-buttons {
			display: flex;
			position: absolute;
			bottom: 2rem;
			left: 2rem;

			button {
				margin-right: 1rem;
			}
		}
	}
}
