@import "../../../global-styles/variables.scss";

.project-ztm {
	height: 80rem;
	width: 120rem;
	display: flex;
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	.screenshot {
		background-color: lightblue;
		height: 80rem;
		width: 50%;
	}
	.details {
		background-color: lightgreen;
		height: 80rem;
		width: 50%;
		position: relative;
		.x-button {
			height: 3rem;
			width: 3rem;
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;

			img {
				height: 100%;
				width: 100%;
			}
		}
	}
}
