@import "../../global-styles/variables.scss";
.github-link-wrapper {
	text-decoration: none;
	color: $primary-text-color;

	.github-link-container {
		width: 14rem;
		height: 7rem;
		padding: 0 2rem;
		background-color: #222326;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition: transform 0.3s ease-in;

		.github-link-content {
			font-size: 2.5rem;
			text-decoration: none;
		}

		.github-logo {
			height: 4.5rem;
			width: 4.5rem;
		}
	}
	.hover-right {
		&:hover {
			transform: translateX(9.5rem);
		}
	}
}
