@import "../../global-styles/variables.scss";

.hero-section {
	min-height: 97vh;

	background: $primary-background-color;
	background: $primary-radial-gradient;
	position: relative;
	overflow: hidden;
	z-index: 500;
	
	@media screen and (max-width: 768px) {
		padding-top: 1rem;
	}

	.content-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		
		
		padding-left: calc((100vw - 1200px) / 2);
		@media screen and (max-width: 1350px) {
			padding-left: 10rem;
		}

		@media screen and (max-width: 768px) {
			margin-top: 10rem;
			flex-direction: column;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 10;
		}

		.content {
			z-index: 1;
			margin-top: -20rem;
			
			@media screen and (max-width: 768px) {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin-right: 10rem;
				margin-bottom: 10rem;
				margin-top: -10rem;
				z-index: 10;
			}
			@media screen and (max-width: 600px) {
				margin-top: 10rem;
				margin-bottom: 5rem;
				@media screen and (min-height: 600px) {
					margin-top: 10rem;
					margin-bottom: 10rem;
				}
			}
			@media screen and (max-width: 350px) {
				margin-bottom: 2rem;
			}

			.p-hello {
				font-size: 3.5rem;
				color: $secondary-text-color;
				text-shadow: $primary-text-shadow;
				margin-bottom: 2rem;
			}
			.p-front {
				font-size: 3.5rem;
				color: $secondary-text-color;
				text-shadow: $primary-text-shadow;
				margin-bottom: 5rem;
			}
			h1 {
				font-size: 10rem;
				color: $primary-text-color;
				text-shadow: $primary-text-shadow;

				&.big {
					font-size: 12rem;
					margin-top: -1rem;
					margin-bottom: 3rem;
				}
			}

			.hero-section-button {
				padding: 1rem 2rem;
				font-size: 2rem;
				margin-top: 2rem;
				font-family: inherit;
				color: $primary-text-color;
				letter-spacing: 1.3px;
				border: 3px solid $primary-text-color;
				background: $primary-background-color;
				margin-top: 3rem;
				transition: all ease-in 0.2s;
				box-shadow: 2px 5px 10px 3px #000000;
				text-decoration: none;

				&:hover,
				&:active {
					color: rgb(32, 32, 32);
					background: $primary-text-color;
					border: 3px solid rgb(12, 12, 12);
					box-shadow: 2px 7px 12px 5px #000000;
					cursor: pointer;
					text-decoration: none;
				}
				&:focus {
					box-shadow: 2px 7px 12px 5px #000000;
					outline: none;
				}
			}
		}
		.my-photo {
			height: 75rem;
			width: 37rem;
			background-image: url("../../assets/MyPhotoPNG.png");
			background-size: contain;
			background-repeat: no-repeat;
			z-index: 10;
			margin-top: 10rem;
			margin-right: calc((100vw - 1200px);
			@media screen and (max-width: 1350px) {
				margin-right: 20rem;
			}
			@media screen and (max-width: 768px) {
				margin-top: 10rem;
				margin-right: 12rem;
			}
			@media screen and (max-width: 400px) {
				margin-top: 0rem;
				margin-right: 12rem;
				@media screen and (min-height: 700px) {
					margin-top: 30rem;
				}
			}
		}
	}

	.path-1 {
		position: absolute;
		left: -2%;
		top: -11%;
		width: 220rem;
		height: 100%;
	}

	.path-2 {
		position: absolute;
		left: -2rem;
		top: -30%;
		width: 80rem;
	}

	.fixed-links {
		position: fixed;
		top: 50%;
		transform: translateY(-50%);
		left: -9.5rem;
		z-index: 1000;
	}
}
