@import "../../global-styles/variables.scss";

.hero-section {
	min-height: 98vh;
	padding: 0 calc((100vw - 1200px) / 2);
	background: $primary-background-color;
	background: $primary-radial-gradient;
	position: relative;
	overflow: hidden;

	.content-container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		padding-top: 3rem;

		.content {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			letter-spacing: 1.5px;

			p {
				font-size: 3.5rem;
				color: $secondary-text-color;
				text-shadow: $primary-text-shadow;
				margin-bottom: 1.5rem;
			}
			h1 {
				font-size: 10rem;
				color: $primary-text-color;
				text-shadow: $primary-text-shadow;

				&.big {
					font-size: 12rem;
					margin-top: -1rem;
					margin-bottom: 3rem;
				}
			}
		}
	}

	.my-photo {
		height: 75rem;
		width: 37rem;
		background-image: url("../../assets/MyPhotoPNG.png");
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		top: 83%;
		transform: translate(0, -80%);
		right: calc((100vw - 1200px) / 2);
		z-index: 10;
	}

	.path-1 {
		position: absolute;
		left: -3px;
		bottom: 15rem;
		height: 81rem;
	}

	.path-2 {
		position: absolute;
		left: -50px;
		top: -200px;
		height: 80rem;
	}

	.fixed-links {
		position: fixed;
		top: 50%;
		left: -9.5rem;
		z-index: 1000;
	}
}
