@import "../../global-styles/variables.scss";

.hero-section {
	min-height: 98vh;
	padding: 0 calc((100vw - 1200px) / 2);
	@media screen and (max-width: 1250px) {
		padding: 0 10rem;
	}

	background: $primary-background-color;
	background: $primary-radial-gradient;
	position: relative;
	overflow: hidden;

	.content-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;

		padding-top: 3rem;
		@media screen and (max-width: 768px) {
			margin-top: 10rem;
			flex-direction: column;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.content {
			z-index: 1;

			@media screen and (max-width: 768px) {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			p {
				font-size: 3.5rem;
				color: $secondary-text-color;
				text-shadow: $primary-text-shadow;
				margin-bottom: 1.5rem;
				@media screen and (max-width: 768px) {
					font-size: 4rem;
				}
			}
			h1 {
				font-size: 10rem;
				color: $primary-text-color;
				text-shadow: $primary-text-shadow;
				@media screen and (max-width: 768px) {
					font-size: 14rem;
				}

				&.big {
					font-size: 12rem;
					margin-top: -1rem;
					margin-bottom: 3rem;
					@media screen and (max-width: 768px) {
						font-size: 18rem;
					}
				}
			}
		}
		.my-photo {
			height: 75rem;
			width: 37rem;
			background-image: url("../../assets/MyPhotoPNG.png");
			background-size: contain;
			background-repeat: no-repeat;
			z-index: 10;
			margin-top: 10rem;
			@media screen and (max-width: 768px) {
				margin-top: 10rem;
			}
		}
	}

	.path-1 {
		position: absolute;
		left: -2%;
		top: -11%;
		width: 220rem;
		height: 100%;
	}

	.path-2 {
		position: absolute;
		left: -2rem;
		top: -30%;
		width: 80rem;
	}

	.fixed-links {
		position: fixed;
		top: 50%;
		transform: translateY(-50%);
		left: -9.5rem;
		z-index: 1000;
	}
}
